*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-collapse: collapse;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    background-color: #eee;
}
/* 헤더 */
#header{
    display: flex;
    align-items: center;
    width: 80%;
    height: 60px;
    margin: 0px auto;
    background-color: #f7f7f7;
    border-bottom: 2px solid #ddd;
    position: relative;
}
/* 헤더 로고 */
#header #imgBox{
    height: 40px;
    margin-top: 10px;
    margin-left: 50px;

}
#header #imgBox img{
    height: 100%;
}
/* 헤더 메뉴 */
#header #menu{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
}
#header #menu:hover{
    font-size: 31px;
}

/* 새 게시글 추가 버튼 */
.addPostBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 20px;
    position: absolute;
    right: 20px; /* 원하는 위치에 맞게 값 조정 */
    top: 50%; /* 세로 위치 조정, 필요에 따라 변경 가능 */
    transform: translateY(-50%);
}

.addPostBtn:hover {
    background-color: #0056b3;
}

/* 메인 */
#main{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    min-height: 770px;
    margin: 0px auto;
    background-color: #fff;
    padding-bottom: 40px;
}

/* 문의 */
#askSection{
    width: 45%;
    height: auto;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

/* 추천 */
#recmSection{
    width: 90%;
    height: auto;
    margin-top: 50px;
}

/* section title */
#title{
    padding-left: 10px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin-right: 10px;
}
#askSection:first-child #title{
    border-bottom: 3px solid #fd8f4a;
    margin-bottom: 10px;
}
#askSection:last-child #title{
    border-bottom: 3px solid #719462;
    margin-bottom: 10px;
}
#recmSection #title{
    border-bottom: 3px solid #645AF1;
    margin-bottom: 10px;
}

#listContainer{
    width: 100%;
    height: auto;
}   

/* 게시글 아이템 */
#postItem{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 300px;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border 0.3s;

}

#postItem:hover{
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #333;
}
/* 게시글 아이템 내부 데이터 나타내기 */
#postItem > div{
    width: 230px;
}
#itemTitle{
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}
#itemContent{
    width: 230px;
    height: 160px;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
    word-break: break-word; /* 긴 텍스트 자동 줄바꿈 */
}
#itemDate{
    width: 230px;
    height: 25px;
    color: #aaa;
    border-bottom: 1px solid #222;
    text-align: right;
    padding-right: 10px;
}
#itemCommentCnt{
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    margin-top: 10px;
    padding-left: 10px;
}
#itemTopComment{
    height: auto;
    font-size: 14px;
    padding-left: 10px;
}

/* 모달 스타일 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input[type="text"], .modal-content textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.modal-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #0056b3;
}

/* 뷰 모달 */
.viewContainer{
    position: relative;
    width: 1000px;
    height: 800px;
    margin: 0px auto;
    background-color: #fff;
}

.viewContainer .title{
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 10%;
}
.viewContainer .content{
    position: absolute;
    left: 0;
    top: 10%;
    width: 60%;
    height: 60%;
}
.viewContainer .parts{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 30%;
    background-color: blue;
}
.viewContainer .reply{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: white(239, 239, 239);
}
.viewContainer .closeBtn{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    background-color: lightcoral;
    border: 1px solid #999;
}